* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}
body {
  font-family: sans-serif;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
}
.box {
  background-color: rgb(85, 85, 85);
  color: #fff;
  width: 300px;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
@property --angle {
  syntax: "<angle>";
  initial-value: 0deg;
  inherits: false;
}
@property --anglee {
  syntax: "<angle>";
  initial-value: 180deg;
  inherits: false;
}
.box::after{
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  z-index: -1;
  padding: 5px;
  border-radius: 10px;
  background-image: conic-gradient(
    from var(--angle),
    transparent 80%,
    blue
  );
  animation: 3s spin linear infinite;
}
.box::before {
   content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  z-index: -1;
  padding: 5px;
  border-radius: 10px;
  background-image: conic-gradient(
    from var(--anglee),
    transparent 80%,
    blue
  );
  animation: 3s spinn linear infinite;
}
@keyframes spin {
  from {
    --angle: 0deg;
  }
  to {
    --angle: 360deg;
  }
}
@keyframes spinn {
  from {
    --anglee: 180deg;
  }
  to {
    --anglee: 540deg;
  }
}
